* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255) !important;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.text_size_baner {
  font-size: 210%;
}

a {
  color: inherit;
  text-decoration: none;
}

.text_dec_link {
  text-decoration: none;
}

.text_dec_link:hover {
  text-decoration: none;
  color: #EB0000;
}



.background_grad {
  background-image: url(https://1864597015.rsc.cdn77.org/selteqreact/images/grad.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 65vh;
}

.headexpert_app {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  /* or 117% */

  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  color: #FFFFFF;
  padding-top: 30%;
}

.text_expert_paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  /* or 166% */

  text-align: center;
  letter-spacing: 0.085em;

  color: #FFFFFF;
}

.text_below {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 47px;
  /* or 584% */

  letter-spacing: 0.12em;

  color: #FFFFFF;
}

.font_color_100 {
  color: white;
}

/* Golbal css of pages -------------------------------------------------------------------- */

.background_color_black {
  background-color: white;
  font-size: 80%;
  padding-left: 3%;
  padding-right: 3%;
  /* padding-top: 1%; */
  /* padding-bottom: 1%; */
  font-weight: 600 !important;
  border-radius: 1px;
}

.background_color_black1 {
  background-color: #DC0000;
  border-radius: 10px;
  width: 50%;
  border: 1px solid #DC0000;
}

.text_align_crousal {
  padding-top: 10%;
  /* padding-left: 10%; */
  color: white !important;

}

/* .width_icons
{
  width: 45%;
  padding-top: 33%;
  background: transparent !important;
  padding-bottom: 33%;
  background-color: black;
} */

/* .background_card_icons
{
  background-color: black;
  width: 45%;
  padding-top: 33%;
  padding-bottom: 33%;
  
} */

.background_card_icons {

  border-radius: 25px;
  font-size: 220%;
  color: gray;
  cursor: pointer;
  padding-top: 15%;
  padding-bottom: 15%;
  transition: 0.4s !important;
  fill: gray !important;
  border-radius: 20px;
  width: 100%;
}

.background_card_icons:hover {
  background-image: linear-gradient(rgb(12, 20, 39), rgb(69, 75, 83));
  border-radius: 25px;
  fill: white !important;
  font-size: 220%;
  color: white;
  padding-top: 12%;
  padding-bottom: 12%;
  cursor: pointer;
  transition: 0.9s;
  box-shadow: 1px 1px 7px 7px rgba(182, 179, 179, 0.403);
  margin-bottom: 20%;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.background_card_icons2 {

  border-radius: 25px;
  /* font-size: 220%; */
  color: gray;
  cursor: pointer;
  transition: 0.4s !important;
  fill: gray !important;
  border-radius: 20px;
  width: 15%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2%;
  height: 9vh;
}

.background_card_icons2:hover {
  background-image: linear-gradient(rgb(12, 20, 39), rgb(69, 75, 83));
  border-radius: 10px;
  fill: white !important;
  color: white;
  cursor: pointer;
  transition: 0.9s;
  box-shadow: 1px 1px 7px 7px rgba(182, 179, 179, 0.403);
  height: 9vh;

}

.background_card_icons3 {
  background-image: linear-gradient(rgb(12, 20, 39), rgb(69, 75, 83));
  border-radius: 10px;
  fill: white !important;
  color: white;
  height: 9vh;
  cursor: pointer;
  transition: 0.9s;
  box-shadow: 1px 1px 7px 7px rgba(182, 179, 179, 0.403);
  border-radius: 10px;
  width: 16%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2%;
}

.data_grid_banner {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: center;
}

.background_hei {
  height: 55vh;
  background-color: white;
}

.icon_fil {
  font-size: 10px !important;
  width: 2px;
  height: 1px;
}

.width_img {
  width: 68%;
}

.width_img1 {
  width: 80%;
}

.width_img2 {
  width: 80%;
  margin-top: 6%;
}

.marg_cus {
  margin-top: 9%;
}

.padd {
  padding-top: 20%;
}

.zoomdown {
  transition: 0.9s;
  color: gray !important;
}

.zoomdown:hover {
  padding-top: 20px;
  color: #2A313E !important;
}

.btn_active_text {
  font-size: 150%;
}

.ig_sec_width {
  width: 98%;
  /* padding-top: 5%; */
  position: absolute;
  left: 0;
  bottom: 0;
  top: 1px;
}


.font_pa {
  font-size: 80%;
  font-style: normal;
  font-weight: 600;
}

.display_hover {
  padding-left: 23%;
  padding-right: 23%;
}

.display_hover:hover~.fin {
  font-size: 120%;

  font-size: 100%;
  font-weight: bolder;
}

.fin {
  font-size: 80%;
  transform: 0.4s;
}

.color_text_gray {
  color: gray;
}


.background_elearning {
  background-color: rgb(239, 244, 248);
}

.margin_left_icon {
  margin-left: -7px;
  color: lightgray;
  font-size: 80%;
}

.custom_paraa_font {
  font-size: 12px;
  color: #8A8A8A;
  font-family: 'Poppins', sans-serif;
}

.cutom_font_prod_runn1 {
  font-size: 16px;
  color: #383838;
  font-family: 'Roboto', sans-serif;
  font-weight: 900 !important;
  letter-spacing: 1px;
}

.color_white {
  color: white;
  font-size: 22px;
  font-weight: 600;
  padding-top: 15%;
}

.color_white1 {
  color: white;
  font-size: 22px;
  font-weight: 600;
  padding-top: 6%;
}

.font_color_size {
  font-size: 110%;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 600;
  border-radius: 8px;
  background-image: linear-gradient(to right, rgb(169, 28, 23), rgb(243, 28, 33), rgb(169, 28, 23));
  border: none;
  box-shadow: 1px 5px 7px 7px #00000050;

}

.color_heading_white {
  color: white;
  padding-top: 5%;
  font-weight: 600;
}

.background_height {
  height: 20vh;
}

.margin_set_for_new {
  margin-top: 100px;
}

#arrow_icon {
  font-size: 80%;
  font-weight: 600;
  padding-left: 15%;
}

.color_w_e {
  color: white;
  font-size: 90%;
}

.padd_top_one {
  padding-top: 15%;
}

.background_business {
  background-image: url(https://1864597015.rsc.cdn77.org/selteqreact/images/mob11.jpg);
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.background_businesss {
  background-image: url(https://1864597015.rsc.cdn77.org/selteqreact/images/mob11.jpg);
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  padding-bottom: 5%;
}

.text_dec_n:hover {
  text-decoration: none;
  color: #0B1628;
}

.with_control {
  width: 75%;
  padding-top: 3%;
}

.cutom_font_prod_runn {
  font-size: 15px;
}

.margin_left_icon1 {
  margin-left: -10px;
  color: #e32a30;
  font-size: 120%;
}

.container_padding {
  padding-left: 15%;
  padding-right: 15%;
}

.border_case_study {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.background_case_study {
  background-color: #E1E7EB;
}

.img_animate {
  display: block;
  position: absolute;
  top: 35%;
  left: 15%;
  margin-left: -150px;
  margin-top: -60px;
  animation: bounce2 3s ease infinite;
  width: 30%;

}

.react-multiple-carousel__arrow {
  background-color: rgba(0, 0, 0, 0) !important;
}

.react-multiple-carousel__arrow::before {
  color: white !important;
  font-size: 160% !important;
}

.react-multiple-carousel__arrow:focus {
  outline: none !important;
}

@keyframes bounce2 {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.img_animate1 {
  display: block;
  position: absolute;
  top: 35%;
  left: 15%;
  margin-left: 60%;
  margin-top: 70%;
  animation: bounce1 3s ease infinite;
  width: 30%;
}


@keyframes bounce1 {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.img_width_girl {
  width: 90%;
}


.margin_neg {
  margin-top: -20px;
}

.background_button_dark2 {
  background-color: #EB0000;
  color: white;
  border-radius: 10px;
  margin-top: 1.5%;
  width: 80%;
  margin-top: 5%;
}

.background_button_dark {
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-top: 1.5%;
  width: 20%;
  /* margin-top: 5%; */
}

.background_button_dark1 {
  color: #EB0000;
}

.video_main {
  width: 90%;
  height: 100%;
  /* position: absolute; */
  object-fit: cover;
  z-index: 0;
}

.video_main1 {
  width: 90%;
  height: 35%;
  border-radius: 10px;
  object-fit: cover;
  z-index: 121212;
}

.video_main2 {
  width: auto;
  /* height: 100%; */
  /* border-radius: 10px; */
  object-fit: contain;
  z-index: 121212;
}

.custom_margintop {
  margin-top: 30%;
}

/* ////////////////////////////// */
video {
  width: 100% !important;
  height: 100%;
  object-fit: fill;
  z-index: 0;
}

.video-container {
  height: 80vh;
  width: 100%;
  object-fit: fill;
}

.padd_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 27px;
  /* or 112% */

  letter-spacing: 0.095em;
  text-transform: uppercase;

  color: #3C3C3C;
}

.para_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  letter-spacing: 0.02em;

  color: #656565;
}

.background_sol_head {
  background: linear-gradient(90deg, #C1233B 0%, #A7223A 17.19%, #751F38 55%, #4D1D36 91.1%, #311B35 122.04%, #201A34 151.26%, #1A1A34 171.88%);
}

.text_headd {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 42px;
  /* identical to box height, or 175% */

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.text_parara {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */


  color: #FFFFFF;
}

.marg_coutch_neg {
  margin-bottom: -50px;
}

.backgrond_gray_exp_new {
  background-color: #F3F3F3;
}

.headd_case {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 42px;
  /* identical to box height, or 175% */

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #000000;
}

.para_case {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */


  color: #757575;
}

.plexx {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 42px;
  /* identical to box height, or 233% */

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #548DFF;
}

.para_text_light {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  text-align: center;

  color: #757575;
}

.danger_case {
  filter: drop-shadow(0px 11px 30px rgba(255, 41, 41, 0.25));
  background-color: #DF1E23 !important;
  padding-top: 3% !important;
  width: 80%;
  border-radius: 0px;
}

/* ///////////////////////////hover///////////////////////// */
.containerr {
  position: relative;
  /* width: 50%; */
}

.imagee {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.overlayy {
  position: absolute;
  top: 0;
  bottom: 0;

  height: 100%;
  width: 91%;
  opacity: 0;
  transition: .5s ease;
  background-color: #00000047;
  border-radius: 15px;
}

.containerr:hover .overlayy {
  opacity: 1;
}

.textt {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.cursor_button {
  cursor: pointer;
}

.background_color_white {
  background-color: #F5FAFF;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* .react-multi-carousel-dot--active button
{
  background: #CC1A1A !important;
} */

.margin_bottom_neg {
  margin-bottom: -130px;
}


/* //////////////////////new css  */


.background_land {
  background-image: radial-gradient(circle at center, #e9f2f4 64%, #c6f0fe 92%);
}

.text_p {
  font-size: 80%;
  font-weight: 300;
}

.button_rad {
  border-radius: 50px;
}

.colortext_all {
  color: rgb(52, 52, 52);
}

.display_pc {
  display: none;
}

.work_f_p {
  font-size: 150%;
  color: white;
}

.color_white_work_p {
  color: white;
  font-size: 170%;
}

.color_white_work_p_p {
  color: white;
  font-size: 80%;
}

/* .img_set_pos
{
    position: absolute;
    z-index: 1000;
    bottom: 0;
    right: 0;
} */

.background_header_new {
  background: #0000001c;
  position: absolute;
  z-index: 11111111;
  /* overflow-y: hidden !important; */
}

.display_fleex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}


.img_width_logo {
  width: 35%;
}

.position_content {
  position: absolute;
  z-index: 11111;
  height: 100vh;
}

.background_color_whitee {
  background-color: white;
}



/* /////////////////////////////////////////header  */
.dropbtn {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
  background-color: #32323200;
  cursor: pointer;
  /* padding-top: 15%; */
  /* margin-bottom: 15%; */
  /* padding: 5px; */
  padding-top: 15px;
  padding-bottom: 15px;
}

.dropbtn:focus {
  color: white;
  font-size: 12px;
  border: none;
  color: black;
  background-color: #32323200;
  cursor: pointer;
  border: none !important;
}

.dropbtn:hover {
  color: white;
  font-size: 12px;
  border: none;
  color: #CC1A1A;
  background-color: #32323200;
  cursor: pointer;
  border: none !important;
}

.dropdown {
  position: relative;
  display: inline-block;
  transform: 0.9s !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top: 3px solid #D74145;
  text-align: left;
  /* padding-top: 13px; */
  /* transform: 0.9s !important; */
}

.dropdown-content .abc {
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  font-size: 80%;
  cursor: pointer;
}

.dropdown-content .abc:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #32323200;

}


.icon_logo_down {
  font-size: 60%;
}

.flex_style_new {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.text_dec {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  text-decoration: none;
}

.text_dec:hover {
  text-decoration: none !important;
  color: #e32a30;
}

/* ////////////////////footer */
.bacground_c_b {
  background-color: black;
  color: white;
}

.red_foter {
  color: #CC1A1A;
}

.color_label {
  font-size: 80%;
}

.background_input_sub {
  background-color: #2D2D2F !important;
  border: 1px solid #2D2D2F;
}

.background_input_sub:focus {
  background-color: #2D2D2F !important;
  border: 1px solid #D74145;
  box-shadow: none;
}

.background_input_sub1 {
  background-color: #2D2D2F !important;
  border: 1px solid #2D2D2F;
  width: 30%;
}

.background_input_sub1:focus {
  background-color: #2D2D2F !important;
  border: 1px solid #D74145;
  box-shadow: none;
  width: 30%;
}

.btn_color_subs {
  background-color: #e32a30;
  font-size: 140%;
}

.btn_color_subs1 {
  background-color: green;
  font-size: 140%;
}

.dflex {
  display: flex;
  flex-direction: row;
}

.p_footer {
  font-size: 80%;
  line-height: 140%;
  color: gray;
}

.p_footer1 {
  font-size: 110%;
  line-height: 140%;
  font-weight: 300;
  color: gray;
}

.p_footer2 {
  font-size: 90%;
  line-height: 140%;
  font-weight: 300;
  color: gray;
}

.color_i_r {
  color: #CC1A1A;
}

.img_h6_blogn {
  color: gray;
  font-size: 80%;
}

.img_text {
  font-weight: 400;
}

.neg_c_u_n {
  margin-top: -290px;
}

.icon_style_contact {
  font-size: 300%;
  color: #000000;
}

.background_wh_contact {
  box-shadow: 1px 1px 7px 7px rgba(211, 211, 211, 0.248);
  background-color: white;
  border-radius: 10px;
  height: 55vh;
}

.img_flag {
  width: 13%;
}

.contact_text {
  color: #666666;
  font-weight: 400;
}

.talk_text {
  color: #333333;
}

.font_us {
  font-size: 100%;
}

.FONT_B_T {
  font-size: 90%;
}

.back_gray_co {
  background-color: #E1E7EB;
}

.backg_rochet {
  background-color: #E1E7EB;
}

.pic_placement {
  margin-left: -85px;
}

.text_t {
  color: #333333;
}

.text_j {
  color: #969696;
  text-align: justify;
}

.cl_gr {
  color: gray;
}


/* /////////////////////////Landing page parallex section  */
.cards_new_parall {
  transition: 0.9s;
  width: 85%;

}

.cards_new_parall1 {
  transition: 0.9s;
  width: 85%;
  margin-top: 15%;
}

.cards_new_parall:hover {
  box-shadow: 1px 10px 7px 7px rgba(211, 211, 211, 0.441);
  border-radius: 10px;
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.1);
}

.cards_new_parall1:hover {
  box-shadow: 1px 10px 7px 7px rgba(211, 211, 211, 0.441);
  border-radius: 10px;
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.1);
}

.img_width_sd1 {
  width: 100%;
  object-fit: fill;
}

.mainmob {
  box-shadow: 1px 10px 7px 7px rgba(211, 211, 211, 0.441);
  border-radius: 10px;
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.1);
}

.padding_top_sec3 {
  padding-top: 7%;
}

.padding_top_sec2 {
  padding-top: 12%;
}

.padding_top_sec1 {
  padding-top: 3%;
}

/* //////////////////////////////// */
.size_12 {
  font-size: 12px;
  padding-top: 1%;
}


/* ////////////////////////////////// */
.display_non_parallex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.display_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.set_display_lcd {
  display: none;
}

.img_width_landing_parallex {
  width: 80%;
}

.padd_lap1 {
  padding-top: 29%;
}

.padd_lap2 {
  padding-top: 15%;
}

/* ///////////////////////////////////// */
.vedioPlayer1 {
  width: 100%;
  height: 90vh !important;

}

.bt_active_video_land {
  background-color: #FF414C;
  border-radius: 50px;
  font-size: 80%;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 1%;
}

.bt_video_land {
  background-color: #FFFFFF;
  border-radius: 50px;
  font-size: 80%;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 1%;
  color: #0B0B0B;
}

.bt_video_land1 {
  background-color: #FFFFFF;
  border-radius: 50px;
  font-size: 14px;
  padding-left: 14%;
  padding-right: 14%;
  margin-left: 1%;
  color: #0B0B0B;
  margin-top: 10%;
}

.marg_bottom_btn {
  margin-bottom: -80px;
  margin-top: 10px;
  padding-right: 5%;
  position: relative;
  z-index: 1000;
}

.color_red_ind {
  color: #EB0000;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
}

.hover_phone:hover {
  text-decoration: none;
  color: white;
}

.hover_phone1:hover {
  text-decoration: none;
  color: red;
}

.margin_top_1 {
  margin-top: -450px;
  /* margin-bottom: 5%; */
}

.display_banners {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.color_r {
  color: #EB0000;
}

.width_img_banner {
  width: 80%;
}

.video1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;

  color: #0B0B0B;
}

.paragrap_bring_tog {
  font-weight: 400;
  font-size: 15px;
  line-height: 170.2%;
  color: #0B0B0B;
  margin-top: 10%;
}



.background_md_tech_banner {
  background-color: rgba(255, 255, 255, 0.91);
  margin-top: -135px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.NRG_BUTTON {
  margin-top: -370px;
  position: relative;
  z-index: 11111111;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 50px;
  font-weight: 500;
  color: gray;
  background-color: rgba(245, 245, 245, 0.841);
}

.background_white {
  background-color: white;
}

.img_height_banner {
  height: 100vh;
  width: 100%;
}

.style_patient_font {
  color: #0B1628;
  font-family: 'Roboto';
  font-weight: 800 !important;
  font-size: 13px;
  padding-top: 5%;
  padding-left: 10%;
}

.style_patient_font1 {
  color: #0B1628;
  font-family: 'Roboto';
  font-weight: 800 !important;
  font-size: 10px;
  padding-top: 5%;
  padding-left: 10%;
}

.img_steps {
  width: 75%;
  padding-top: 5%;

}

.background_person {
  background-color: rgb(231, 235, 238);
}

/* .react-multi-carousel-dot-list 
{
  padding-bottom: 5% !important;
} */

.img_widthh {
  border-radius: 20px;
  box-shadow: 1px 1px 7px 7px rgba(0, 0, 0, 0.401);
}


.background_main_sec2 {
  background-image: url(https://1864597015.rsc.cdn77.org/selteqreact/Assets/Images/mainrec.png);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #E4E7EA;
  margin-bottom: 10% !important;
}

.img_width_tab {
  width: 90% !important;
}

.custom-dot-list-style1 {
  margin-bottom: 25px !important;
  padding-bottom: 0px !important;
}

.carousel-item-padding-40-px {
  padding: 0px !important;
}


.neg_marg_new {
  margin-bottom: -10px !important;
}

.custom_text_1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 19px;
  /* or 80% */

  text-align: center;

  color: #FFFFFF;
  padding-top: 15%;
}

.sub_head_2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  /* or 192% */


  color: #FFFFFF;
  padding-top: 5%;
}



.head_text_mob_port {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #EB0000;
}

.text_mob_port {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #8D8D8D;
}

.p_tag_ind {
  padding-top: 5%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 19px;
  /* or 87% */

  text-align: center;
  text-transform: uppercase;

  color: #EB0000;
}

.background_color_cards_ind {
  background-color: #F4F7FB !important;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 20px !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.09);
  margin-top: 3%;
  margin-bottom: 3%;

}

.background_color_cards_ind1 {
  background-color: #FFFFFF;
  padding-top: 5%;
  padding-bottom: 5%;
}

.card_heading {
  font-family: 'Ruda', sans-serif;
  /* font-style: normal; */
  font-weight: bolder !important;
  font-size: 20px;
  line-height: 24px;

  color: #0B0B0B;

}

.sub_para_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142.7%;
  /* or 23px */


  color: #808080;
}

.sub_text_card {
  font-family: 'Ruda';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 14px;
  line-height: 160%;

  color: #0B0B0B !important;
}

.width_img_land {
  width: 100% !important;
}

.background_color_red_new {
  filter: drop-shadow(0px 11px 30px rgba(255, 41, 41, 0.25));
  background-color: #DF1E23;
  border-radius: 1px;
  padding-top: 4%;
  padding-bottom: 4%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  position: relative;

}



.margin_top_poineer {
  margin-top: -70px;
}

.text_up {
  margin-top: 6%;
  background-image: url(https://1864597015.rsc.cdn77.org/selteqreact/images/backgroundsol.png);
  height: auto;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 10%;
}

.text_white_bold_our {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 27px;
  /* or 112% */

  letter-spacing: 0.095em;

  color: #FFFFFF;
  padding-top: 10%;
}

.color_red_workflow {
  color: #EB0000;
  font-weight: 500;
  font-size: 120%;
  padding-top: 26%;
}

.font_weight_stream {
  font-weight: 600;
  color: #686868;
}

.img_bulb_top {
  padding-top: 35%;
  padding-left: 10%;
}

.text_align_work {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.text_touch {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;

  color: #EB0000;

}


.background_color_solutions {
  background-color: #E9F4FA;
}

.head_buss_about {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* or 131% */

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #000000;

}

.heading_poineer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  /* or 138% */

  letter-spacing: 0.095em;

  color: #000000;
}

.sub_head_poineer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  /* or 131% */

  letter-spacing: 0.075em;

  color: #000000;
}

.sub_text_paragraph {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* or 150% */


  color: #666666;
}

.text_health_head {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  letter-spacing: 0.075em;

  color: #000000;
}

.headquater {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */


  color: #000000;
}

.background_color_pioneer {
  background-image: linear-gradient(180deg, #FBFBFB 0%, #E7EBEE 63.84%);
  ;
}

.custom-dot-list-style4 {
  margin-top: -10% !important;
}

.custom-dot-list-style4 .react-multi-carousel-dot button {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
}

.custom-dot-list-style4 .react-multi-carousel-dot--active button {
  background-color: white !important;
}

.custom-dot-list-style4 {
  padding-bottom: -15% !important;
}

.bg_img_aboutus {
  background-image: url(https://1864597015.rsc.cdn77.org/selteqreact/images/about.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: auto;
  padding-top: 70%;
  padding-bottom: 10%;
}

.head_about {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  /* or 117% */

  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.border_hover {
  border: 1px solid lightgray;
  transition: 0.9s;
  height:370px;
  overflow: hidden;
  width: 90%;
  border-radius: 90px;
}

.border_hover:hover {
  border: 1px solid white;
  transition: 0.9s;
  /* box-shadow: 2px 2px 2px 2px lightgray; */
  box-shadow: 0 0 2px white,
  0 0 2px white,
  0 0 2px white,
  0 0 2px white;
}

.shadow_box{
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  min-height: 310px;
  width: 310px;
  border-radius: 10px;
}

@media (max-width: 991px) { 
.border_hover{
  height: auto;
  width: auto;
}
}



.sub_head_about {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  /* or 166% */

  text-align: center;
  letter-spacing: 0.085em;

  color: #FFFFFF;
  padding-left: 10%;
  padding-right: 10%;
}

.text_head_about {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 27px;
  /* or 112% */

  letter-spacing: 0.095em;
  text-transform: uppercase;

  color: #3C3C3C;
  padding-top: 10%;
}

.text_sub_para {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* or 129% */

  letter-spacing: 0.02em;

  color: #656565;
}

.head_values {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 42px;
  /* identical to box height, or 175% */

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.background_grad_about {
  background: linear-gradient(90deg, #C1233B 0%, #A7223A 17.19%, #751F38 55%, #4D1D36 91.1%, #311B35 122.04%, #201A34 151.26%, #1A1A34 171.88%);
}

.text_para_value {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */


  color: #FFFFFF;
}

.neg_mar_val {
  margin-bottom: -130px;
}

.margin_top_para {
  margin-top: 35%;
}

.ires_para {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* or 138% */


  color: #000000;
}

/* media for bigger lcd  */
@media (max-width:8000px) and (min-width:1588px) {

  /* .display_non_parallex
  {
    display: none;
  } */
  .padding1 {
    padding-top: 15%;
  }

  .padding2 {
    padding-top: 25%;
  }

  .padding3 {
    padding-top: 5%;
  }

  .set_display_lcd {
    display: block;
  }

}


@media screen and (max-width: 900px) {
  .para_edu {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */


    color: #808080;
  }

  .edu_ico {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    letter-spacing: 0.075em;

    color: #000000;
  }

  .color_red_head_sol {
    color: #EA0A0A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    /* identical to box height, or 210% */

    text-align: center;
    letter-spacing: 0.05em;
  }

  .cust_pad {
    padding-top: 60%;
  }

  .sub_text_head_color {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */


    color: #BAC1DC;
  }

  .text_head_color {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */

    letter-spacing: 0.075em;

    color: #FFFFFF;
  }

  .background_block_chain {
    background-image: url(https://1864597015.rsc.cdn77.org/selteqreact/mobimg/space.png);
    height: 100vh;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sub_sub_text_ascnd {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */


    color: #6F6F6F;
  }

  .sub_text_ascnd {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */

    letter-spacing: 0.075em;

    color: #000000;
  }

  .text_main_asc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* or 115% */

    letter-spacing: 0.095em;

    color: #3C3C3C;
  }

  .padding_sol_1 {
    padding-top: 30%;
  }

  .button_style_red {
    background-color: #DF1E23;
    border-radius: 1px;
    margin-top: 10%;
  }

  .background_img_for_mob {
    background-image: url(https://1864597015.rsc.cdn77.org/selteqreact/mobimg/soft2.png
);
    background-color: #F3F8F9;
    background-position: 100% 100% !important;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150vh;
  }

  .cutom_font_prod_runn1 {
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
  }

  .custom_paraa_font {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
  }

  .img_width_sel {
    width: 120px;
  }

  .cust_padding {
    padding-left: 9%;
  }

  .sub_text_size_sol {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.075em;
    color: #000000;
  }

  .sub_sub_text_size_sol {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #6F6F6F;
  }

  .background_button_red {
    background-color: #DF1E23;
    border-radius: 1px;
    filter: drop-shadow(0px 11px 30px rgba(255, 41, 41, 0.371));
  }

  .sub_sub_text_size_sol1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #6F6F6F;
  }



  .text_size_sol {
    color: #EA0A0A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */

    text-align: center;
    letter-spacing: 0.05em;
  }

  .margin_set_for_new {
    margin-top: 20px;
  }

  .heading_sol_sec {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
  }

  .sub_heading_sol_sec {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #808080;
  }

  .background_sol_sec {
    background-color: E9F4FA;
  }

  .background_header_new {
    background: #ffffff;
  }

  .background_button_soft1 {
    background-color: #BC0202;
    border-radius: 1px;
    border: 0px solid red;
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 15%;
  }

  #color_button {
    color: black !important;
  }

  .btn_style_mobile {
    background-color: rgba(0, 0, 0, 0);
    border: none !important;
    color: black !important;
  }

  .background_collapse_div1 {
    background-color: #F1F6FA;
    /* box-shadow: 0px 0px 4px  rgba(70, 69, 69, 0.036); */
    border-radius: 10px;
    position: relative;
    z-index: 120;
    color: rgb(81, 81, 81);
  }

  .background_collapse_div2 {
    background-color: #F1F6FA;
    /* box-shadow: 0px 0px 4px  rgba(70, 69, 69, 0.036); */
    border-radius: 10px;
    position: relative;
    z-index: 110;
    margin-top: 10px;
    color: rgb(81, 81, 81);
  }

  .background_collapse_div3 {
    background-color: #F1F6FA;
    /* box-shadow: 0px 0px 4px  rgba(70, 69, 69, 0.036); */
    border-radius: 10px;
    position: relative;
    z-index: 100;
    margin-top: 10px;
    color: rgb(81, 81, 81);
  }

  .background_collapse_div4 {
    background-color: #F1F6FA;
    /* box-shadow: 0px 0px 4px  rgba(70, 69, 69, 0.036); */
    border-radius: 10px;
    position: relative;
    z-index: 90;
    margin-top: 10px;
    color: rgb(81, 81, 81);
  }

  .background_collapse_div5 {
    background-color: #F1F6FA;
    /* box-shadow: 0px 0px 4px  rgba(70, 69, 69, 0.036); */
    border-radius: 10px;
    position: relative;
    z-index: 80;
    margin-top: 10px;
    color: rgb(81, 81, 81);
  }

  .text_other {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: 0.05em;

    color: #595959;
  }

  .coll_font_size_set {
    font-size: 14px;
    font-weight: 400;
  }

  .why_choose {
    font-weight: 500;
    font-size: 70%;
  }

  .why_selteq {
    font-size: 180%;
    color: #D12227;
    font-family: 'Roboto', sans-serif;
  }

  .font_weight_digital {
    font-weight: 400 !important;
    font-family: 'Roboto', sans-serif;
  }

  .width_banner_process {
    width: 90%;
    padding-top: 10%;
    /* padding-bottom: 10%; */
  }

  .big_text_button_mob {
    font-size: 16px;
    letter-spacing: 8px;
  }

  .small_text_button_mob {
    font-size: 9px;
    letter-spacing: 2px;
  }

  .button_mob_process_style {
    background-color: #DF1E23;
    box-shadow: 0px 21px 39px rgba(255, 41, 41, 0.3);
    border-radius: 10px;
    width: 90%;
    /* margin-top: 50%; */
    /* margin-bottom: 8%; */
  }

  .sub_text_promising {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */


    color: #BAC1DC;
  }

  .text_promising {
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    letter-spacing: 0.075em;
  }

  .text_color_heading_white {
    color: #EA0A0A;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    padding-top: 8%;
    font-family: 'Roboto', sans-serif;
  }

  .text_color_heading_white1 {
    color: #C3CFCD;
    font-weight: 400;
    font-size: 14px;
    padding-top: 1%;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .font_crousal {
    font-size: 260%;
  }

  .font_wi_banner {
    font-weight: 400;
  }

  .ig_sec_width {
    display: none;
  }

  .background_hei {
    height: auto;
    background-color: white;
  }

  .margin_tt_f {
    margin-top: 15%;
  }

  .display_h {
    display: none;
  }

  .display_pc {
    display: block;
  }

  .text_align_crousal {
    text-align: center;
    /* margin-top: 15%; */
    padding-bottom: 8% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }

  .pic_placement {
    margin-left: 1px;
  }

  /* ////////////////////////////////expert  */
  .font_mob_head {
    font-size: 180% !important;
  }

  .text_for_mob_expert {
    margin-top: 15% !important;
  }

  .margin_t_expert {
    margin-top: 15%;
  }

  .padding_t_casestudy {
    padding-top: 5%;
  }

  /* ///////////////bankfinance  */
  .img_width_bannersol {
    width: 90%;
  }

  .padding_bankfinance {
    padding-top: 5%;
    padding-left: 8%;
    padding-right: 8%;
  }

  .padding_bankfinance1 {
    padding-left: 4.2%;
    padding-right: 4.2%;
  }

  .font_small_b {
    font-size: 92%;
  }

  .padding_bankfinance2 {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }

  .react-multiple-carousel__arrow::before {
    color: black !important;
    font-weight: 900 !important;

  }

  .react-multiple-carousel__arrow {
    margin-top: 85px !important;
  }

  .react-multiple-carousel__arrow {
    background-color: rgba(255, 255, 255, 0) !important;

  }

  /* ///////////////////////////////////////// */

  .img_width_mobile {
    width: 35%;
  }

  .img_width_mobile1 {
    width: 65%;
  }

  .react-multi-carousel-dot--active button {
    background-color: #1E1E1E !important;
  }

  .back_mob_sol {
    background-color: #deeaf385;

  }



}

/* Golbal css of pages end -------------------------------------------------------------------- */


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}